* {
  box-sizing: border-box;
}

/* Fonts */
.k2d-regular {
  font-family: "K2D", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'K2D', Arial, Helvetica, sans-serif;
}


/* header */
header {
  background-color: #006f88;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: rgb(255, 255, 255);
}
/* Logo */
.logo{
    width: 200px;
}

/* เมนูด้านข้าง */
nav {
  float: left;
  width: 30%;
  height: 300px;
  background: #a4f6ff;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

/* หน้าหลัก */
article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #bfdbff;
  height: 300px; 
}

/* หน้าฟอร์ม */
article-2 {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #bfdbff;
  height: auto;
 
}

section::after {
  content: "";
  display: flex;
  clear: both;
}

/* footer */
footer {
  background-color: #009cbf;
  padding: 10px;
  text-align: center;
  color: white;
}

@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}